#images{
  height:100%;
}

img { 
	position:relative;
/*	height:100%;
	width:100%;*/
  max-width: 100%;
}

body{
  width:100%;
  height:100%;
}

h2 { 
	text-align:center;
	color:white;
	text-shadow: 2px 2px 4px #000000;
   position: absolute; 
   top: 30%; 
   left: 0; 
   padding:20px;
  white-space: pre-wrap;
   font-size:48px;
}

h3 { 
	font-family: 'Dancing Script', cursive;
	padding:20px;
  	white-space: pre-wrap;
  	color:white;
  	text-shadow: 2px 2px 4px #000000;
  	font-size:48px;
    opacity:.8;
  	position: absolute;
  	bottom:5%;
  	right:5%;
 }